
__pycache__

data/info

.ipynb_checkpoints

*.png
*.jpg

*.csv

*.pyc
*.gz
*.ggb

*.html
*.m

octave-workspace

!rate.jpg
!rate5.jpg
!time.jpg

!rede.png
!TestDataset.png
!PredDataset.png

!Train.html
!Test.html

!hist_w1.html
!hist_w2.html
