
__pycache__

data/info

.ipynb_checkpoints

*.png
*.jpg

*.pyc
*.gz
*.ggb

*.html
*.m

*.csv

octave-workspace

!rate.jpg
!rate5.jpg
!time.jpg

!rede.png
!TestDataset.png
!PredDataset.png

!Train.html
!Test.html

